{{ define "title" -}}
  {{ .Title }} | {{ .Site.Title }}
{{- end }}
{{ define "header" }}
  {{ partial "menu.html" . }}
{{ end }}
{{ define "main" }}
<br>
  <header>
		  <h1>{{ .Title }} | <code>{{ dateFormat "02 Jan, 2006" (default .Date (.PublishDate)) }}</code> <time dateTime="{{ .ReadingTime }}M">({{ .ReadingTime }} min)</time>
      </h1>
  </header>
  {{ .Content }}
{{ end }}
{{ define "footer" }}

<center><font size="4">- <code>EOF</code> -</font></center>
  {{ partial "post/byline.html" . }}
  {{ partial "post/related-content.html" . }}
{{ end }}
